body {
    margin: 0 auto;
    padding: 0 auto;

    background-color: #f0f2f5;
  }
  
  a{
      text-decoration: none;
  }
  
  * {
    font-family: "Lato", sans-serif;
  }

  html{
    scroll-behavior: smooth;
  }
  .arrow{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9;
  }
  .arrow a{
    height: 39px;
    width: 37px;
    text-align: center;
    background: #1b1b1b;
    display: block;
    border-radius: 3px;
  }
  .arrow a span{
    color: #f2f2f2;
    font-size: 25px;
    line-height: 39px;
    cursor: pointer;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  main > a {
    text-decoration: none;
    color: #000;
  
    width: 80%;
    height: 400px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
 
  
  .container {
    margin-top: 25px;
    width: 80%;
    height: 400px;
    background-color: #FFFF;
    border-radius: 12px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

    transition: 0.2s;
  }

  .container:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .content {
    padding: 10px;
    box-sizing: border-box;
  }
  

  .content > .title {
    margin-top: -140px;
  }
  
  .content > .title > span {
    font-size: 1.8rem;
    font-weight: bold;
  }
  
  .content > .body {
    margin-top: 41px;
  }
  
  .content > .body > span {
    font-size: 1.5rem;
  }

  .hidden{
    display: none;
  }

  .btn-showmore{
    width: 120px;
    height: 40px;
    border-radius: 4px;
    border: none;
    color: #FFFF;
    background-color: #3498db;
    transition: 0.2s;
  }

  .btn-showmore:hover{
    filter: brightness(90%);
  }
  
  @media (max-width: 720px) {
    main > a {
      text-decoration: none;
      color: #000;
  
      width: 100%;
      height: 400px;
  
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .container {
      margin-top: 25px;
      width: 100%;
      height: 400px;
      background-color: #dcdde1;
      border-radius: 12px;
  
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .content > header > .user {
      margin-top: -50px;
    }

    .content > .title {
      margin-top: 0px;
    }
    
    .content > .title > span {
      font-size: 1.8rem;
      font-weight: bold;
    }
    
    .content > .body {
      margin-top: 41px;
    }
    
    .content > .body > span {
      font-size: 1.5rem;
    }
  }
  