header>nav{
    background-color:#3498db ;
    width: 100%;
    height: 90px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.brand-name>h1{
    color: #FFFF;
    font-size: 1.8rem;
}

@media (min-width: 1000px){
    header>nav{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    
    }
    .home-index-return>.brand-name{
        margin-left: 20px;
        padding:10px;
    }
}